/target
.ignore
.direnv
**/target
**/node_modules
*/.dist
.!ea
*.ics
.zed
.idea

**/*-cache
**/*-node-modules
**/*-sccache
**/*-target

overview/.idea
overview/dist
overview/.tailwind

# Testing output
**/playwright-report
**/test-results

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
