/target
.ignore
**/target
**/node_modules
**/reports
*/.dist
.!ea
*.ics
.zed
.idea

# CI files may not dirty the git view for cargo package.
*.log
*.tar
*.crate
 CACHEDIR.TAG
 .rustc_info.json
 *-result

**/*-cache
**/*-node-modules
**/*-sccache
**/*-target

overview/.idea
overview/dist
**/.tailwind

# Testing output
**/playwright-report
**/test-results

# default nix output
result

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
