/target
.ignore
.direnv
**/target
**/node_modules
**/reports
*/.dist
.!ea
*.ics
.zed
.idea

# Kaniko logfiles may not dirty the git view for cargo package.
*.log

**/*-cache
**/*-node-modules
**/*-sccache
**/*-target

overview/.idea
overview/dist
**/.tailwind

# Testing output
**/playwright-report
**/test-results

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv
